.header {
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  display: inline-flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.logo {

}

.title {
  color: MediumAquamarine;
  padding: 10px;
}

ul {
  list-style-type: none;
}

li a {
  color: black;
}

li {
  display: inline-block;
  padding: 10px;
}

.main p {
  border: 2px solid black;
}

.main {
  display: flex;
}

.column.large {
  width: 630px;
}

.column.medium {
  width: 300px;
}

.column.small {
  width: 240px;
}
